<div class="col-md-3 col-sm-4">
    <section class="user-sidebar clearfix">
        <div class="userinfo clearfix">
            <figure>
                <img alt="<%= user.fullname %>" src="/static/frontend/images/anonymous.png" class="avatar user-img">
                <figcaption>
                    <div class="title">Tài khoản của</div>
                    <div class="user-name">
                        <%= user.fullname %>
                    </div>
                </figcaption>
            </figure>
        </div>
        <i class="fa fa-angle-down"></i>
    </section>
    <nav class="user-sidelink clearfix">
        <ul>
            <li class="hvr-sweep-to-right <%= (stuff.url === '/dashboard')?'active':''%>">
                <a href="/dashboard">
                    <i class="fa fa-tachometer"></i> Thông tin chung
                </a>
            </li>
            <li class="hvr-sweep-to-right">
                <a href="http://www.nettruyen.com/Secure/UserProfile.aspx">
                    <i class="fa fa-info-circle"></i> Thông tin tài khoản
                </a>
            </li>
            <li class="hvr-sweep-to-right">
                <a href="http://www.nettruyen.com/Secure/ComicFollowed.aspx">
                    <i class="fa fa-book"></i> Truyện theo dõi
                </a>
            </li>
            <li class="hvr-sweep-to-right <%= (stuff.url === '/change-password')?'active':''%>">
                <a href="/change-password">
                    <i class="fa fa-lock"></i> Đổi mật khẩu
                </a>
            </li>
            <li class="hvr-sweep-to-right">
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Thoát
                </a>
            </li>
        </ul>
    </nav>
</div>