<!DOCTYPE html>
<html>
    <head>
        <title>Trang không tìm thấy!!!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap-reset.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style-responsive.css">
        <style>body, p.page-404{font-family:"Times New Roman",Georgia,Serif !important;font-size:22px;}</style>
    </head>
    <body class="body-404">
        <div class="container">
            <section class="error-wrapper" style="margin-top:5%;">
                <div style="height:100%;">
                    <i class="icon-404"></i>
                </div>
                <div style="margin-top:70px;">
                    <h1>404</h1>
                    <h2>Trang không tìm thấy</h2>
                    <p><a id="btnBack" class="btn btn-shadow btn-danger" type="button"></a></p>
                </div>

            </section>
        </div>
    </body>
    <script type="text/javascript">
        var button = document.getElementById('btnBack');
        if (document.referrer === '') {
            button.innerHTML = 'Quay về trang chủ';
            button.removeAttribute('onclick');
            button.setAttribute('href', '<%= info.bareUrl %>');
        } else {
            button.innerHTML = 'Quay về trang trước';
            button.setAttribute('href', document.referrer);
        }
    </script>
</html>