<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.png">
<title>Quản trị Admin</title>
<!-- Bootstrap core CSS -->
<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/admin/css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="/static/admin/css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="/static/admin/css/style.css" rel="stylesheet">
<link href="/static/admin/css/style-responsive.css" rel="stylesheet" />
