<footer>
    <div class="row main">
        <div class="more">
            <ul>
                <li>CoolManga.net</li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/login/js/bootstrap.min.js"></script>
<script src="/static/login/js/jquery.inputmask.bundle.min.js"></script>
<script src="/static/login/js/bootstrap-datepicker.js"></script>
<script src="/static/login/js/jquery.validate.min.js"></script>
<script src="/static/login/js/base.js"></script>