<div class="row col-md-8 btn-padding">
    <a href="/auth/facebook" id="fb-login" class="btn btn-lg btn-block btnLoginFacebook"><span style="font-size: 14px">Đăng nhập bằng Facebook</span></a>
</div>
<div class="row col-md-8 btn-padding">
    <a href="/auth/google" id="gg-login" class="btn btn-lg btn-block btnLoginGoogle"><span style="font-size: 14px">Đăng nhập bằng Google</span></a>
</div>